@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 auto;
  max-width: 1280px;
}

th, td {
  border: 1px solid grey;
  font-family: monospace;
  padding: 0.2rem 0.4rem;
}

.board {
  background-color: black;
  border: 3px solid black;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cell {
  background-color: #051E9B;
  border-radius: 0.25em;
  color: gold;
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.2rem;
  padding: 1rem;
  text-align: center;
}

.category-title {
  color: white;
}
